<div class="teaser">
    <div class="teaser--inner">
        {% if model.headline is not empty %}
            <h2>{{ model.headline }}</h2>
        {% endif %}
        {% if model.text is not empty %}
            {{ model.text|raw }}
        {% endif %}
        {% if model.link is not empty %}
            <a class="btn btn-primary" href="{{ model.link }}" role="button">Learn more about that</a>
        {% endif %}
    </div>
</div>