<div class="herospace">
    {% if model.image is not empty %}
        {{ forskel_render(model.image) }}
    {% endif %}
    <div class="text">
        {% if model.headline is not empty %}
            <h1>{{ model.headline }}</h1>
        {% endif %}
        {% if model.text is not empty %}
            <p class="lead font-weight-normal">{{ model.text|raw }}</p>
        {% endif %}
    </div>
</div>